<h1>Nuevo Taller</h1>
<form action="/create" method="post">
    <fieldset>
        <label for="name">Nombre: </label><br>
        <input type="text" name="name" placeholder="Nombre del curso" id="name">
    </fieldset>
    <fieldset>
        <label for="description">Descripción: </label><br>
        <textarea rows="8" cols="80"  placeholder="Agrega una breve descripción del curso" name="description" id="description">
        </textarea>
    </fieldset>
    <input type="submit" value="Guardar"/>
</form>
